.DS_Store
glitch-cmd/*.opensdf
glitch-cmd/*.sdf
glitch-cmd/*.suo
glitch-cmd/*.filters
glitch-cmd/*.vcxproj.user
glitch-cmd/Debug/*
glitch-cmd/Release/*
qlitch/*.pro.user
qlitch-Desktop*
deploy/*
qlitch/*.qm
glitch.v11.suo
glitch.vcxproj.filters
glitch.vcxproj.user
qlitch/qlitch.pro.user*
build-qlitch*
